.makercamp-new .schedule .grey-bg {
    background-color:#f1f3f4;
    padding:20px 0;
}
.makercamp-new .schedule .white-bg {
    background-color:#fff;
    padding:20px 0;
}

/*.makercamp-new {
  background: url(../img/sky.png) 0 20px repeat;
  padding-bottom: 0 !important;
  padding-top: 0px !important;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}*/

.makercamp-new .main-header {
    margin-top:40px;
}

/*.makercamp-new .main-header {
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 30px;
    margin-top:0;
    padding-top:0;
    border: none;
}*/

/*.makercamp-new .skyships {
    background-image: url(../img/skyitems.png);
    background-repeat: no-repeat;
    background-position: top center;
    height:60px;
}*/