header {
	margin-top:0;
	margin-bottom:40px;
	color:#fff;
}

    .main-header {
	color:#fff;
	background-image: url(../img/hill.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 30px;
	margin-top:0;
	padding-top:0;
	border: none;

	h2, h3, h4, h5, h6 {
		color:#333;
		margin:auto;
	}
        .tagline {
        	margin-top:25px;
            background-color:#05729f;
            color:#fff;
            h1 {
                strong {
                    color:#fbde76;
                }
            }
        }
        .visible-desktop {
            .tagline {
                h1 {
                    font-size:1.8em;
                    line-height:1.4em;
                    margin-top:0em;
                    color:#fff;
                    font-weight:normal;
                }
            }
        }
        .hidden-desktop {
            .tagline {
                h1 {
                    font-size:1.8em;
                    line-height:1.4em;
                    margin-top:0.8em;
                    color:#fff;
                    font-weight:normal;
                }
            }
        }
    }
