.main-nav {
	.navbar-inner {
		border-color: @navbarBlueBorder;
		border:none;
		.border-radius(0px);
		#gradient > .vertical(@navbarBlueBackgroundHighlight, @navbarBlueBackground);
	}
	.primary-nav {
		> .menu-item {
			font-size: 21px;
			> a {
				text-shadow: none;
				padding: 10px 25px 10px;
				color:#fff;
				&:hover {
					background-color: #222;
					color: #fff;
					text-decoration: none!important;
				}
			}
			&.active > a {
				background-color: #222;
				color: #fff;
				text-decoration: none!important;
			}
		}
		.menu-item {
			text-decoration: none !important;
		}
	}
	.nav-collapse {
		background: transparent;
	}
	.btn-navbar {
		.buttonBackground(darken(@navbarBlueBackgroundHighlight, 5%), darken(@navbarBlueBackground, 5%));
	}
}
&.admin-bar .navbar-fixed-top {
	top:29px;
}
header {
	margin-top:0;
	margin-bottom:40px;
	color:#fff;
	h2 {
	  font-size:33px;
	  line-height:45px;
	  margin-bottom:10px;
	}
	h3 {
	  font-weight:200;
	  font-size:28px;
	  line-height:100%;
	}
}