.main-nav {
    .navbar-inner {
        background-color: #253b58;
        background-image: -moz-linear-gradient(top, #2e435e, #172e50);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e435e), to(#172e50));
        background-image: -webkit-linear-gradient(top, #2e435e, #172e50);
        background-image: -o-linear-gradient(top, #2e435e, #172e50);
        background-image: linear-gradient(to bottom, #2e435e, #172e50);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e435e', endColorstr='#ff172e50', GradientType=0);
        border-color: @navbarBlueBorder;
        border:none;
        .border-radius(0px);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        #gradient > .vertical(@navbarBlueBackgroundHighlight, @navbarBlueBackground);
    }
    .primary-nav {
        & > .menu-item {
            font-size: 18px;
            & > a {
                text-shadow: none;
                padding: 10px 25px 10px;
                color: #fff;
            }
            & > a:hover {
                background-color: #222;
                color: #fff;
                text-decoration: none!important;
            }
        }
        & > .menu-item.active {
            & > a {
                background-color: #222;
                color: #fff;
                text-decoration: none!important;
            }
        }
        .menu-item {
            text-decoration: none !important;
        }
    }
    .nav-collapse {
        background: transparent;
    }
    .btn-navbar {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #1d2f46;
        background-image: -moz-linear-gradient(top, #26374d, #11233c);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#26374d), to(#11233c));
        background-image: -webkit-linear-gradient(top, #26374d, #11233c);
        background-image: -o-linear-gradient(top, #26374d, #11233c);
        background-image: linear-gradient(to bottom, #26374d, #11233c);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff26374d', endColorstr='#ff11233c', GradientType=0);
        border-color: #11233c #11233c #000001;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        *background-color: #11233c;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

.btn-navbar {
        .buttonBackground(darken(@navbarBlueBackgroundHighlight, 5%), darken(@navbarBlueBackground, 5%));
    }

    }
}
.main-nav .btn-navbar:hover,.main-nav .btn-navbar:focus,.main-nav .btn-navbar:active,.main-nav .btn-navbar.active,.main-nav .btn-navbar.disabled,.main-nav .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #11233c;
    *background-color: #0c1728;
}
.main-nav .btn-navbar:active,.main-nav .btn-navbar.active {
    background-color: #060c15 \9;
}

&.admin-bar .navbar-fixed-top {
    top:29px;
}
