@media (min-width: 1200px) {
	body.makercamp, body.makercamp.admin-bar {
		.new-footer {
			.container { width:1170px !important; }
			.main { width:1000px !important; }
			.trending, .newsletter, .about-us, .subscribe { width:270px !important; }
		}

		.waist {
			.button.big { top:14px !important; }
		}
		.feature-box {
			.button.blue { font-size:22px !important;width:80%;}
		}
		.search-query {
			width:206px !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body.makercamp, body.makercamp.admin-bar {

		.container,
		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
			width: 724px !important;
		}

		// Navbar Styles
		header { margin:0 0 40px !important; }
		.navbar-fixed-top { margin-bottom:0; }
		.navbar-blue .navbar-search .search-query { width:97% !important; }

		// Waist
		.waist {
			background-position: 40.0817996% bottom;
		}
		.button.big {
			font-size:1.5em;
		}

		// Join Bar
		.join {
			h2 { font-size:1.8em; }
			a { font-size:1.357142857em; }
		}

		.feature-box {
			min-height:440px;
			h4 { 
				line-height:1em;
				padding-bottom:15px;
			 }
			h5 { font-size:1.5em; }
			img.register { margin:52px 0; }
		}

		.features-box-content {
			min-height:380px;
			h4 { 
				font-size:1.6em;
				line-height: 1.3em;
			}
		}

		// Footer
		.new-footer .main { margin:5px auto; width:100%; }
	}
}

@media (max-width: 767px) {
	body.makercamp, body.makercamp.admin-bar {

		padding:0; margin:0;

		// Override some styles from Makezine
		.container,
		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
			width: 100% !important;
		}
		.navbar-fixed-top { margin-left:0; margin-right:0; }
	
		.top-header, .waist .container, .lower-gradation .container, .new-footer .container { width:90% !important; margin:0 auto 40px 0 !important; }
		.button.blue { font-size:1.428571429em; }

		// Navbar Styles
		.top-header {
			h2 { font-size:2em; }
			h3 { font-size:1.5em; }
		}
		header { margin:0 0 40px !important; }
		.navbar-fixed-top { margin-bottom:0; }
		.navbar-blue .navbar-search .search-query { width:97% !important; }
	
		// Home Header
		.mc-logo, .mc-description { text-align:center; color:#fff; }
		.mc-description { color:#f6ba65; }

		.feature-box {
			img.register { margin:30px 0 !important; }
		}

		// Waist
		.waist {
			margin-top:20px;
			background-position: 31.0818% bottom;
			a { top:0 !important; font-size:1.5em; margin-bottom:30px; }
			.cap { display:block; font-size:1.285714286em !important; }
		}

		// Lower Gradiation
		.lower-gradation {
			.span2 { float:left; width:25%; }
			.span4 h4 { font-weight:normal; font-size:1.1em; line-height:1.2em; }
		}

		// Footer
		.new-footer .main { margin:5px auto; width:100%; }
	}
		.maker-camp-sweepstakes {
			legend {
				color:#f6ba65;
				border: none;
				font-size:24.5px;
				margin:10px 0;
				font-weight:bold;
				line-height: 40px;
			}

			label {
				font-size: 17.5px;
				margin: 10px 0 !important;
				line-height: 18px;
				font-weight:bold;
			}

			input {
				width:200px !important
			}

			input[type="submit"] {
				width:200px !important;
		}
	}
}